.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Georgia, serif
}

@media screen and (max-width: 1000px) {
  .App {
    align-items: center;
    flex-direction: column;
  }


  .Personal-Details {
    text-align: center;
  }
}

.Portfolio-Headshot {
  width: 18rem;
  border: 2px solid black;
  border-radius: 50%;
  margin: 2rem;
}

.Personal-Details {
  padding: 2rem;
}

p {
  max-width: 70vw;
}